@import './styles/variables';
@import './styles/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

  a {
    text-decoration: none;
    color: $WhiteColor;
    opacity: 0.6;
  }
}

body {
  font-family: 'SF Pro Display', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  opacity: 1;
  background-color: $BackgroundColorActiveLink;

  .navlistLogo_left,
  .navlistLogo_rigth {
    display: block;
  }

  svg {
    fill-opacity: 1;
    opacity: 1;
  }
}
