@import '../../styles/variables';

.navbar {
  max-width: 240px;
  width: 100%;
  min-height: 100%;
  padding-top: 20px;
  background-color: $BackgroundColorNavigate;
}

.logo {
  display: block;
  cursor: pointer;
  margin-bottom: 32px;
  padding-left: 12px;
  &:hover * {
    fill: $WhiteColor;
  }
}
