// constant

$BackgroundColorNavigate: #091336;
$BackgroundColorActiveLinkLeft: #002cfb;
$BackgroundColorActiveLinkRigth: #ffd500;
$ShadowColorActiveLinkRigth: rgba(237, 218, 1, 0.5);
$BackgroundColorActiveLink: rgba(216, 228, 251, 0.32);
$BackgroundColorLayout: rgba(241, 244, 249, 1);
$BackgroundColorPlayer: #ADBFDF;
$BackgroundColorPlayerWrapper: #EAF0FA;
$BorderColorLine: rgba(234, 240, 250, 1);
$WhiteColor: white;
$TextHeaderColor: #899cb1;
$TextErrorColor: #ea1a4f;
$TextSecondaryColor: rgba(94, 119, 147, 1);
$TextDataColor: #005ff8;
$TextAnaliticMainColor: rgba(18, 41, 69, 1);
$TextAnaliticSecondaryColor: rgba(0, 167, 117, 1);
$BackgroundColorProgressIndicator: #dee6f5;

// mixin

@mixin sfProDisplay(
  $font-size: 16px,
  $line-height: 24px,
  $font-weight: 500,
  $font-style: normal
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-style: $font-style;
  font-family: 'SF Pro Display';
}
