@import '../../../styles/variables';

.viewContentHeader {
  position: relative;
  display: grid;
  grid-template-columns: 53px 89px 128px 326px 214px 96px auto;
  align-items: center;
  height: 60px;

  .check {
    display: block;
    position: absolute;
    width: 40px;
    height: 60px;
  }

  h4 {
    @include sfProDisplay(1.4rem, 100%, 400);
    color: #899cb1;

    &:last-child {
      justify-self: end;
      padding-right: 40px;
    }
  }
}
