@import '../../../styles/variables';

.viewContentHeader {
  position: relative;
  display: grid;
  grid-template-columns: 53px 89px 128px 326px 214px 150px auto;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid $BorderColorLine;

  .check {
    display: block;
    position: absolute;
    left: -40px;
    width: 40px;
    height: 100%;
  }

  div {
    &:last-child {
      justify-self: end;
      padding-right: 40px;
    }
  }
}

.typeCallWrapper {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.timeCall {
  @include sfProDisplay(1.5rem, 100%, 400);
  color: $TextAnaliticMainColor;
}

.contactCompany {
  @include sfProDisplay(1.5rem, 140%, 400);
  display: block;
  margin-top: 6px;
  color: $TextSecondaryColor;
}

.source {
  @include sfProDisplay(1.5rem, 140%, 400);
  display: block;
  margin-top: 6px;
  color: $TextSecondaryColor;
}

.grade {
  @include sfProDisplay(1.4rem, 140%, 400);
  display: block;
  margin-top: 6px;
  color: $TextErrorColor;
}

.worker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
